
/* FIRST */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.header {
    flex: 1;
    background-color: #1f2937;
}

.first-part {
    display: flex;
    justify-content: space-between; 
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin: 10px;
}



/* SECOND */

.second-part {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 30px 30px 0px 30px;
}

.title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.sub-header {
    font-size: 18px;
    color: #e5e7eb;
}

.button button {
    background-color: #3882f6;
    padding: 8px 32px
}

button {
    border: 0;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px 0px 0px 0px;
}

.image {
    display: flex;
    flex: 1.9;
    padding: 30px 70px 30px 0px;
    justify-content: flex-end;
    margin-bottom: 40px;
}


/* PART THREE */

.information {
    flex: 1;
}

.info-header {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    margin: 70px 0px 30px 0px;
}

.images {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.aditional-big {
    display: flex;
    justify-content: center;
}

.aditional {
    max-width: 200px;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: black;
    margin-bottom: 100px;
}


/* Fourth */

.quote {
    background-color: #e5e7eb;
}

.text-quote {
    flex: 1;
    font-size: 36px;
    font-family: "light italic";
    color: #1f2937;
    padding: 110px;
}

.author {
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    justify-content: flex-end;
    padding-top: 10px;
}


/* FIVE */

.sign-up {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    background:#3882f6;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    margin: 20px;
    padding: 40px 200px;
}

.call {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    font-family: "light italic";
}

.sub-call {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 1000px;
}

.super {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

button.super-button {
    background: #3882f6;
    color: #f9faf8;
    display: flex;
    font-weight: bold;
    border: 2px solid black;
    border-color: #f9faf8;
    align-items: center;
    padding: 0px 40px;
    margin-left: 100px;
}

/* LAST PART */

.footer {
    display: flex;
    flex: 1;
    background: #1f2937;
    color: #f9faf8;
    font-weight: bolder;
    padding: 30px;
    justify-content: center;
    align-items: center;
}