
/* FIRST */
* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.header {
    flex: 1;
    background-color: #1f2937;
}

.first-part {
    display: flex;
    justify-content: space-between; 
}

.left, .right {
    flex: 1;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
}

.right {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}


.links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

li {
    margin: 10px;
}



/* SECOND */

.second-part {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 30px 30px 0px 30px;
}

.title {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.sub-header {
    font-size: 18px;
    color: #e5e7eb;
}

.button button {
    background-color: #3882f6;
    padding: 8px 32px
}

button {
    border: 0;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px 0px 0px 0px;
}

.image {
    display: flex;
    flex: 1.9;
    padding: 30px 70px 30px 0px;
    justify-content: flex-end;
}